only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
only-built-dependencies[]=@scarf/scarf
corepack-mode=off
corepack-strict=false
enable-pre-post-scripts=true
use-node-version=20
node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false